<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="./js/vue.js"></script>
</head>

<body>
	<div id="app">
		<custem-table v-bind:list1="list1"></custem-table>
	</div>
</body>
<script type="text/javascript">
	//全局注册
	Vue.component("custem-table", {
		//接受父组件传入的数据
		props: [
			"list1"
		],
		//组件也可以拥有自身的数据, 来控制组件的状态
		//注意:组件中的data必须是一个函数 , 如果他们公用一个对象的话,在更改组件数据的时候
		//,会影响其他组件, 如果是函数的话,每个组件都有自己独立的数据,相互之间不会影响
		data: function () {
			return {
				abc: false
			};
		},
		template: `<table>
			<thead>
					<tr>
						<td>姓名</td>
						<td>年龄</td>
					</tr>
			</thead>
			<tbody>
				<tr v-for="item in list1">
					<td>{{item.name}}</td>
					<td>{{item.age}}</td>
				</tr>
			</tbody>
			</table>`
	})

	new Vue({
		el: "#app",
		data: {
			list1: [
				{ name: "彪彪", age: "30" },
				{ name: "俊凯", age: "30" }
			]
		}
		//局部注册
		// components: {
		// 	"custem-table":{
		// 		template: `<table>
		// 				<thead>
		// 						<tr>
		// 							<td>标题</td>
		// 							<td>内容</td>
		// 						</tr>
		// 				</thead>
		// 				<tbody>
		// 					<tr>
		// 						<td>123</td>
		// 						<td>456</td>
		// 					</tr>
		// 					<tr>
		// 						<td>123</td>
		// 						<td>456</td>
		// 					</tr>
		// 					<tr>
		// 						<td>123</td>
		// 						<td>456</td>
		// 					</tr>
		// 				</tbody>
		// 				</table>`
		// 	}
		// }
	});

</script>

</html>