<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <m-modal></m-modal>
    </div>
</body>
<script type="text/javascript">
    /*
        组件的主要特点:
            重用性     能够公用和通用
            可定制性   可设置参数和属性
            高内聚性   功能完整
            互操作性   多组件协同工作

        vue组件的api来自三部分
        props   参数          传递数据给组件
        slot    定制模板      外部模板混合子组件模板
        event   自定义事件     监控子组件交互状态  
    

     基于以上特点,开发一个vue的modal组件
     在编码之前要考虑哪些是可定制的
     设置的props:   modalTitle 提醒信息 默认为 "这是一个模态框"

     定制模板:      slot为modal-content 定制提醒信息模板
                   slot为modal-footer 定制底部模板

     监控子组件状态变化:   自定义事件名 on-ok    点击确定触发
                        自定义事件名 on-canel 点击取消触发
    */
    Vue.component("m-modal", {
        template: `
            <div>123</div>
        `
    })

    new Vue({
        el: "#app",
    });

</script>

</html>